In [2]:
import pandas as pd
df= pd.read_csv("cleaned_data.csv", encoding='latin-1', engine = 'python')

In [3]:
df

,Date,Location,Operator,Route,Type,Aboard,Fatalities,Survived,Ratio,Ground,Summary,Year,Month,month,Unnamed: 14
0,17/09/1908,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,2,1,1,0.50,0,"During a demonstration flight, a U.S. Army fly...",1908,9,Sep,NaN
1,12/07/1912,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,5,5,0,1.00,0,First U.S. dirigible Akron exploded just offsh...,1912,7,Jul,NaN
2,06/08/1913,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,1,1,0,1.00,0,The first fatal airplane accident in Canada oc...,1913,8,Aug,NaN
3,09/09/1913,North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),20,14,6,0.70,0,The airship flew into a thunderstorm and encou...,1913,9,Sep,NaN
4,17/10/1913,"Johannisthal, Germany",Military - German Navy,NaN,Zeppelin L-2 (airship),30,30,0,1.00,0,Hydrogen gas which was being vented was sucked...,1913,10,Oct,NaN
5,05/03/1915,"Tienen, Belgium",Military - German Navy,NaN,Zeppelin L-8 (airship),41,21,20,0.51,0,Crashed into trees while attempting to land af...,1915,3,Mar,NaN
6,03/09/1915,"Cuxhaven, Germany",Military - German Navy,NaN,Zeppelin L-10 (airship),19,19,0,1.00,0,"Exploded and burned Neuwerk Island, when hydr...",1915,9,Sep,NaN
7,28/07/1916,"Jambol, Bulgeria",Military - German Army,NaN,Schutte-Lanz S-L-10 (airship),20,20,0,1.00,0,"Crashed the Black Sea, cause unknown.",1916,7,Jul,NaN
8,24/09/1916,"Billericay, England",Military - German Navy,NaN,Zeppelin L-32 (airship),22,22,0,1.00,0,Shot down by British aircraft crashing in flames.,1916,9,Sep,NaN
9,01/10/1916,"Potters Bar, England",Military - German Navy,NaN,Zeppelin L-31 (airship),19,19,0,1.00,0,Shot down in flames by the British 39th Home D...,1916,10,Oct,NaN
10,21/11/1916,"Mainz, Germany",Military - German Army,NaN,Super Zeppelin (airship),28,27,1,0.96,0,Crashed in a storm.,1916,11,Nov,NaN
11,28/11/1916,"West Hartlepool, England",Military - German Navy,NaN,Zeppelin L-34 (airship),20,20,0,1.00,0,Shot down by British anti-aircraft fire and ai...,1916,11,Nov,NaN
12,04/03/1917,"Gent, Belgium",Military - German Army,NaN,Airship,20,20,0,1.00,0,Caught fire and crashed.,1917,3,Mar,NaN
13,30/03/1917,Germany,Military - German Navy,NaN,Schutte-Lanz S-L-9 (airship),23,23,0,1.00,0,Struck by lightning and crashed into the Balti...,1917,3,Mar,NaN
14,14/05/1917,"Texel Island, North Sea",Military - German Navy,NaN,Zeppelin L-22 (airship),21,21,0,1.00,0,"Crashed into the sea from an altitude of 3,000...",1917,5,May,NaN
15,14/06/1917,"Vlieland Island, North Sea",Military - German Navy,NaN,Zeppelin L-43 (airship),24,24,0,1.00,0,Shot down by British aircraft.,1917,6,Jun,NaN
16,21/08/1917,Denmark,Military - German Navy,NaN,Zeppelin L-23 (airship),18,18,0,1.00,0,Shot down by British aircraft.,1917,8,Aug,NaN
17,20/10/1917,"Luneville, France",Military - German Navy,NaN,Zeppelin L-44 (airship),18,18,0,1.00,0,Shot down by French anti-aircraft fire.,1917,10,Oct,NaN
18,07/04/1918,Mediterranean,Military - German Navy,NaN,Zeppelin L-59 (airship),23,23,0,1.00,0,Exploded and crashed into the sea the coast of...,1918,4,Apr,NaN
19,10/05/1918,"Helgoland Island, Germany",Military - German Navy,NaN,Zeppelin L-70 (airship),22,22,0,1.00,0,Shot down by British aircraft crashing from a ...,1918,5,May,NaN
20,11/08/1918,"Ameland Island, North Sea",Military - German Navy,NaN,Zeppelin L-53 (airship),19,19,0,1.00,0,Shot down by british aircraft.,1918,8,Aug,NaN
21,16/12/1918,"Elizabeth, New Jersey",US Aerial Mail Service,NaN,De Havilland DH-4,1,1,0,1.00,0,NaN,1918,12,Dec,NaN
22,25/05/1919,"Cleveland, Ohio",US Aerial Mail Service,NaN,De Havilland DH-4,1,1,0,1.00,0,Caught fire in midair. The pilot leaped from t...,1919,5,May,NaN
23,19/07/1919,"Dix Run, Pennsylvania",US Aerial Mail Service,NaN,De Havilland DH-4,1,1,0,1.00,0,NaN,1919,7,Jul,NaN
24,02/10/1919,"Newcastle, England",Aircraft Transport and Travel,NaN,De Havilland DH-4,1,1,0,1.00,0,NaN,1919,10,Oct,NaN
25,14/10/1919,"Cantonsville, Maryland",US Aerial Mail Service,NaN,Curtiss R-4LM,1,1,0,1.00,0,NaN,1919,10,Oct,NaN
26,30/10/1919,"Long Valley, New Jersey",US Aerial Mail Service,NaN,De Havilland DH.4,1,1,0,1.00,0,NaN,1919,10,Oct,NaN
27,10/03/1920,"New Paris, Indiana",US Aerial Mail Service,NaN,De Havilland DH-4,1,1,0,1.00,0,NaN,1920,3,Mar,NaN
28,30/03/1920,"Newark, New Jersey",US Aerial Mail Service,NaN,De Havilland DH-4,1,1,0,1.00,0,NaN,1920,3,Mar,NaN
29,10/04/1920,"Newark, New Jersey",US Aerial Mail Service,NaN,Curtiss R-4LM,2,1,1,0.50,0,NaN,1920,4,Apr,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5148,08/11/2008,Between Kibo & Mawenzi Peaks of Mt. Kilimanjar...,East African Air Charters,Kampi ya Kanzi Airstrip - Loitokitok,Cessna 206,5,4,1,0.80,0,"After taking off, the aircraft climbed to 12,5...",2008,11,Nov,NaN
5149,13/11/2008,"Fallujah, Iraq",Falcon Aviation Group,al-Asad air base - Baghdad,Antonov An-12,7,7,0,1.00,0,"The cargo plane, chartered by FedEx, crashed w...",2008,11,Nov,NaN
5150,16/11/2008,"Thormanby Island, British Columbia, Canada",PacifiCoastal Airlines,Vancouver - Powell River - Toba Inlet,Grumman G-21A Goose,8,7,1,0.88,0,The charter aircraft crashed into a steep hill...,2008,11,Nov,NaN
5151,27/11/2008,"Perpignan, France",XL Airways leased from Air New Zealand,Training,Airbus A320-232,7,7,0,1.00,0,The Airbus A320 was leased by XL Airways of Ge...,2008,11,Nov,NaN
5152,03/12/2008,"San Juan, Puerto Rico",Webstas Aviation Services Inc.,"Tortola Virgin Islands - San Juan, PR",Rockwell International 690B,3,3,0,1.00,0,The plane struck the side of El Yunque mountai...,2008,12,Dec,NaN
5153,11/12/2008,"Sabine Pass, Texas",Rotorcraft Leasing Co,Sabine Pass - Oil Platform,Bell 206-L4 Jet Ranger III,3,3,0,1.00,0,The helicopter ferrying workers to an shore dr...,2008,12,Dec,NaN
5154,15/12/2008,Turks and Caicos Islands,Alantis Aviation,"Santiago, Dominican Republi- Providenciales",Britten Norman BN-2A Trislander Mk3,12,12,0,1.00,0,The charter flight disappeared from radar 35 m...,2008,12,Dec,NaN
5155,04/01/2009,Houma Louisiana,Petroleum Helicopters Inc,Bayou Penchant - shore oil fields,Sikorsky S-76C,9,8,1,0.89,0,A helicopter bound for offshore oil fields wen...,2009,1,Jan,NaN
5156,15/01/2009,"New York, New York",US Airways,"New York, NY- Charlotte, NC",Airbus A320-214,155,0,155,0.00,0,The plane was taking from La Guardia Airport w...,2009,1,Jan,NaN
5157,07/02/2009,"Manacapuru, Brazil",Aerotaxi Manaus,Coari - Manus,Bandeirante EMB-110P1,28,24,4,0.86,0,The plane was being used as an air taxi to fer...,2009,2,Feb,NaN
5158,07/02/2009,"Trigoria, Italy",Air One Executive,Rome - Bologna,Cessna 650 Citation III,2,2,0,1.00,0,"The plane, heading to Bologna to pick up a med...",2009,2,Feb,NaN
5159,12/02/2009,"Clarence Center, New York",Continental Connection/Colgan Air,"Newark, N.J. - Buffalo, NY",Bombardier DHC-8-402 Q400,49,49,0,1.00,1,The commuter plane crashed while attemptiong t...,2009,2,Feb,NaN
5160,15/02/2009,"Chanco, Chile",Flight Service,NaN,Bell UH-1H,13,13,0,1.00,0,The helicopter was carrying firemen to a nearb...,2009,2,Feb,NaN
5161,20/02/2009,"Luxor, Egypt",Aerolift,"Entebbe, Uganda - Luxor, Egypt - Niklaev, Ukraine",Antonov 12V,5,5,0,1.00,0,"While attemping to take from Luxor, the cargo ...",2009,2,Feb,NaN
5162,25/02/2009,"Amsterdam, Netherlands",Turkish Airlines,"Istanbul, Turkey - Amsterdam, Netherlands",Boeing 737-8F2,134,9,125,0.07,0,The plane was on final approach to Runway 18R ...,2009,2,Feb,NaN
5163,09/03/2009,"Lake Victoria, Uganda",Aerolift,"Entebbe, Uganda - Mogadishu, Somalia",Ilyushin Il-76T,11,11,0,1.00,0,The cargo plane carrying and water purificatio...,2009,3,Mar,NaN
5164,12/03/2009,"St. Johns, Newfoundland",Cougar Helicopters,St. Johns - Hibernia platform,Sikorsky S-92A,18,17,1,0.94,0,The pilot reported a technical malfunction and...,2009,3,Mar,NaN
5165,22/03/2009,"Butte, Montana",Eagle Cap Leasing,"Oroville, CA - Butte, MT",Pilatus PC-12/45,14,14,0,1.00,0,The plane crashed 500 feet short of the runway...,2009,3,Mar,NaN
5166,23/03/2009,"Tokyo, Japan",FedEx,"Guangzhou, China - Tokyo, Japan",McDonnell Douglas MD-11,2,2,0,1.00,0,The cargo plane crashed and burst into flame a...,2009,3,Mar,NaN
5167,01/04/2009,"Crimond, Scotland",Bond Offshore Helicopters,Miller field - Aberdeen,Eurocopter AS 332L2 Super Puma 2,16,16,0,1.00,0,The helicopter crashed 35 miles East of Crimon...,2009,4,Apr,NaN
5168,06/04/2009,"Bandung, Indonesia",Military - Indonesian Air Force,Militiary training,Fokker F-27 Friendship 400M,24,24,0,1.00,0,While returning from a military training exerc...,2009,4,Apr,NaN
5169,09/04/2009,"Wamena, Indonesia",Aviastar Mandiri,Jayapura - Wamena,British Aerospace BAe-146-300,6,6,0,1.00,0,The cargo plane crashed into Gunung Pike mount...,2009,4,Apr,NaN
5170,17/04/2009,"Mount Gergaji, Indonesia",Mimika Air,Ilaga - Mulia,Pilatus PC-6,11,11,0,1.00,0,The passenger plane crashed in poor weather in...,2009,4,Apr,NaN
5171,17/04/2009,"Canaima National Park, Venezuela",Aerotuy airline,Canaima - Porlamar,Cessna 208B Grand Caravan,11,1,10,0.09,0,"The plane, carrying 9 tourists, crashed 5 mile...",2009,4,Apr,NaN
5172,29/04/2009,"Massamba, DemocratiRepubliof Congo",Bako Air,"Bangui, CAR- Brazzaville, Congo - Harare, Zimb...",Boeing B-737-200,7,7,0,1.00,0,Crashed while en route on a ferrying flight. T...,2009,4,Apr,NaN
5173,03/05/2009,"El Alto de Rubio, Venezuela",Military - Venezuelan Army,Patrol,Mi-35,18,18,0,1.00,0,The helicopter was patrolling along the Venezu...,2009,5,May,NaN
5174,20/05/2009,"Madiun, Indonesia",Military - Indonesian Air Force,Jakarta - Maduin,Lockheed C-130 Hercules,112,98,14,0.88,2,"While on approach, the military transport cras...",2009,5,May,NaN
5175,01/06/2009,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,Rio de Janeiro - Paris,Airbus A330-203,228,228,0,1.00,0,The Airbus went missing AtlantiOcean on a flig...,2009,6,Jun,NaN
5176,07/06/2009,"Port Hope Simpson, Newfoundland, Canada",Strait Air,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,1,1,0,1.00,0,The air ambulance crashed into hills while att...,2009,6,Jun,NaN
5177,08/06/2009,"State of Arunachal Pradesh, India",Military - Indian Air Force,Mechuka for Jorhat,Antonov An-32,13,13,0,1.00,0,The military transport went missing while en r...,2009,6,Jun,NaN

In [4]:
df_test = df.head(150)
df_test

,Date,Location,Operator,Route,Type,Aboard,Fatalities,Survived,Ratio,Ground,Summary,Year,Month,month,Unnamed: 14
0,17/09/1908,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,2,1,1,0.50,0,"During a demonstration flight, a U.S. Army fly...",1908,9,Sep,NaN
1,12/07/1912,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,5,5,0,1.00,0,First U.S. dirigible Akron exploded just offsh...,1912,7,Jul,NaN
2,06/08/1913,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,1,1,0,1.00,0,The first fatal airplane accident in Canada oc...,1913,8,Aug,NaN
3,09/09/1913,North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),20,14,6,0.70,0,The airship flew into a thunderstorm and encou...,1913,9,Sep,NaN
4,17/10/1913,"Johannisthal, Germany",Military - German Navy,NaN,Zeppelin L-2 (airship),30,30,0,1.00,0,Hydrogen gas which was being vented was sucked...,1913,10,Oct,NaN
5,05/03/1915,"Tienen, Belgium",Military - German Navy,NaN,Zeppelin L-8 (airship),41,21,20,0.51,0,Crashed into trees while attempting to land af...,1915,3,Mar,NaN
6,03/09/1915,"Cuxhaven, Germany",Military - German Navy,NaN,Zeppelin L-10 (airship),19,19,0,1.00,0,"Exploded and burned Neuwerk Island, when hydr...",1915,9,Sep,NaN
7,28/07/1916,"Jambol, Bulgeria",Military - German Army,NaN,Schutte-Lanz S-L-10 (airship),20,20,0,1.00,0,"Crashed the Black Sea, cause unknown.",1916,7,Jul,NaN
8,24/09/1916,"Billericay, England",Military - German Navy,NaN,Zeppelin L-32 (airship),22,22,0,1.00,0,Shot down by British aircraft crashing in flames.,1916,9,Sep,NaN
9,01/10/1916,"Potters Bar, England",Military - German Navy,NaN,Zeppelin L-31 (airship),19,19,0,1.00,0,Shot down in flames by the British 39th Home D...,1916,10,Oct,NaN
10,21/11/1916,"Mainz, Germany",Military - German Army,NaN,Super Zeppelin (airship),28,27,1,0.96,0,Crashed in a storm.,1916,11,Nov,NaN
11,28/11/1916,"West Hartlepool, England",Military - German Navy,NaN,Zeppelin L-34 (airship),20,20,0,1.00,0,Shot down by British anti-aircraft fire and ai...,1916,11,Nov,NaN
12,04/03/1917,"Gent, Belgium",Military - German Army,NaN,Airship,20,20,0,1.00,0,Caught fire and crashed.,1917,3,Mar,NaN
13,30/03/1917,Germany,Military - German Navy,NaN,Schutte-Lanz S-L-9 (airship),23,23,0,1.00,0,Struck by lightning and crashed into the Balti...,1917,3,Mar,NaN
14,14/05/1917,"Texel Island, North Sea",Military - German Navy,NaN,Zeppelin L-22 (airship),21,21,0,1.00,0,"Crashed into the sea from an altitude of 3,000...",1917,5,May,NaN
15,14/06/1917,"Vlieland Island, North Sea",Military - German Navy,NaN,Zeppelin L-43 (airship),24,24,0,1.00,0,Shot down by British aircraft.,1917,6,Jun,NaN
16,21/08/1917,Denmark,Military - German Navy,NaN,Zeppelin L-23 (airship),18,18,0,1.00,0,Shot down by British aircraft.,1917,8,Aug,NaN
17,20/10/1917,"Luneville, France",Military - German Navy,NaN,Zeppelin L-44 (airship),18,18,0,1.00,0,Shot down by French anti-aircraft fire.,1917,10,Oct,NaN
18,07/04/1918,Mediterranean,Military - German Navy,NaN,Zeppelin L-59 (airship),23,23,0,1.00,0,Exploded and crashed into the sea the coast of...,1918,4,Apr,NaN
19,10/05/1918,"Helgoland Island, Germany",Military - German Navy,NaN,Zeppelin L-70 (airship),22,22,0,1.00,0,Shot down by British aircraft crashing from a ...,1918,5,May,NaN
20,11/08/1918,"Ameland Island, North Sea",Military - German Navy,NaN,Zeppelin L-53 (airship),19,19,0,1.00,0,Shot down by british aircraft.,1918,8,Aug,NaN
21,16/12/1918,"Elizabeth, New Jersey",US Aerial Mail Service,NaN,De Havilland DH-4,1,1,0,1.00,0,NaN,1918,12,Dec,NaN
22,25/05/1919,"Cleveland, Ohio",US Aerial Mail Service,NaN,De Havilland DH-4,1,1,0,1.00,0,Caught fire in midair. The pilot leaped from t...,1919,5,May,NaN
23,19/07/1919,"Dix Run, Pennsylvania",US Aerial Mail Service,NaN,De Havilland DH-4,1,1,0,1.00,0,NaN,1919,7,Jul,NaN
24,02/10/1919,"Newcastle, England",Aircraft Transport and Travel,NaN,De Havilland DH-4,1,1,0,1.00,0,NaN,1919,10,Oct,NaN
25,14/10/1919,"Cantonsville, Maryland",US Aerial Mail Service,NaN,Curtiss R-4LM,1,1,0,1.00,0,NaN,1919,10,Oct,NaN
26,30/10/1919,"Long Valley, New Jersey",US Aerial Mail Service,NaN,De Havilland DH.4,1,1,0,1.00,0,NaN,1919,10,Oct,NaN
27,10/03/1920,"New Paris, Indiana",US Aerial Mail Service,NaN,De Havilland DH-4,1,1,0,1.00,0,NaN,1920,3,Mar,NaN
28,30/03/1920,"Newark, New Jersey",US Aerial Mail Service,NaN,De Havilland DH-4,1,1,0,1.00,0,NaN,1920,3,Mar,NaN
29,10/04/1920,"Newark, New Jersey",US Aerial Mail Service,NaN,Curtiss R-4LM,2,1,1,0.50,0,NaN,1920,4,Apr,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,28/12/1927,"Abuerio, Spain",Aeropostale,NaN,Breguet 14,1,1,0,1.00,0,NaN,1927,12,Dec,NaN
121,31/12/1927,France,Latecoere Airlines,NaN,Lat©coåre 23,4,4,0,1.00,0,NaN,1927,12,Dec,NaN
122,08/01/1928,"Canajoharie, New York",Colonial Airlines,Minola - Albany - Buffalo,Fairchild FC-2,3,3,0,1.00,0,Became lost in dense fog and flew into the gro...,1928,1,Jan,NaN
123,16/01/1928,"Solis, Uruguay",Aeropostale,NaN,Latecoere 25,2,2,0,1.00,0,NaN,1928,1,Jan,NaN
124,22/01/1928,"Tarragona, Spain",Aeropostale,NaN,Breguet 14,2,2,0,1.00,0,NaN,1928,1,Jan,NaN
125,22/01/1928,France,Aeropostale,NaN,Breguet 14,2,1,1,0.50,0,NaN,1928,1,Jan,NaN
126,27/01/1928,"Almeria, Spain",Aeropostale,NaN,Breguet 14,1,1,0,1.00,0,NaN,1928,1,Jan,NaN
127,26/02/1928,"Marquette, Nebraska",Boeing Air Transport,NaN,Boeing 40,2,1,1,0.50,0,The air mail plane crashed into a grove of cot...,1928,2,Feb,NaN
128,11/03/1928,"Cape Griz Nez, France",Air Union,NaN,Farman F-60 Goliath,2,2,0,1.00,0,NaN,1928,3,Mar,NaN
129,17/04/1928,"Federal, Wyoming",Boeing Air Transport,NaN,Boeing 40,2,1,1,0.50,0,NaN,1928,4,Apr,NaN
130,19/04/1928,"Minuesa, Spain",Iberia Airlines,NaN,Rohrbach Roland,9,9,0,1.00,0,Crashed in fog.,1928,4,Apr,NaN
131,12/05/1928,"Dearborn, Minnesota",Ford Air Freight Inc.,NaN,Ford 4,2,2,0,1.00,0,NaN,1928,5,May,NaN
132,26/05/1928,"Radevormwald, Germany",Deutsche Lufthansa,NaN,Junkers F-13,5,3,2,0.60,0,Pilot error.,1928,5,May,NaN
133,14/06/1928,"Frankfurt, Germany",Deutsche Lufthansa,NaN,AEGK,5,5,0,1.00,0,NaN,1928,6,Jun,NaN
134,22/06/1928,"Lebo, Kansas",National Air Transport,Chicago - Dallas,Douglas M-4,1,1,0,1.00,0,The mail plane flew into tornado like winds an...,1928,6,Jun,NaN
135,10/07/1928,Gulf of Finland,Aero O-Y,NaN,Junkers F-13,6,6,0,1.00,0,NaN,1928,7,Jul,NaN
136,13/07/1928,"Purley, England",Imperial Airways,Testing,Vickers 74 Vulcan,4,4,0,1.00,0,Crashed to the ground shortly after taking kil...,1928,7,Jul,NaN
137,24/07/1928,"Waalhaven harbor, Netherlands",KLM Royal Dutch Airlines,NaN,Fokker (KLM) F.III,1,1,0,1.00,0,The plane crashed into the Waalhaven harbor.,1928,7,Jul,NaN
138,25/08/1928,"Port Townsend, BC, Canada",British Columbia Airways,Victoria - Seattle,Ford 4-AT-B Tri Motor,7,7,0,1.00,0,Crashed into Puget Sound in dense fog. Consid...,1928,8,Aug,NaN
139,02/09/1928,"Toul, France",CIDNA,NaN,Bleriot Spad 56,3,3,0,1.00,0,NaN,1928,9,Sep,NaN
140,04/09/1928,"Pocatello, Idaho",National Parks Airways,NaN,Fokker Super Universal,7,7,0,1.00,0,NaN,1928,9,Sep,NaN
141,04/09/1928,"Adelaide Hills, Australia",Qantas,NaN,de Havilland DH.50J,2,1,1,0.50,0,Following the conclusion of an aerial tour car...,1928,9,Sep,NaN
142,06/09/1928,"Heroldbach, Germany",Deutsche Lufthansa,NaN,Fokker FG III,3,3,0,1.00,0,Engine failure.,1928,9,Sep,NaN
143,04/10/1928,"Gerona, Spain",Aeropostale,NaN,Breguet 14,3,3,0,1.00,0,NaN,1928,10,Oct,NaN
144,18/10/1928,"Polk, Pennsylvania",National Air Transport,NaN,Douglas M-4,1,1,0,1.00,0,The mail plane crashed and burned during the n...,1928,10,Oct,NaN
145,31/10/1928,"Valence, France",Air Union,NaN,Bleriot Spad 56,2,1,1,0.50,0,NaN,1928,10,Oct,NaN
146,15/11/1928,Gibraltar,Aeropostale,NaN,Latecoere 32,2,1,1,0.50,0,NaN,1928,11,Nov,NaN
147,24/11/1928,"Edgerton, Ohio",Universal Airlines,Cleveland - Chicago,Hamilton H-47,3,3,0,1.00,0,The mail plane crashed in a heavy snow storm.,1928,11,Nov,NaN
148,25/11/1928,"Edgerton, Ohio",Continental Air Lines,Cleveland - Louisville,Travel Air 4000,3,3,0,1.00,0,The mail plane crashed in a heavy snow storm,1928,11,Nov,NaN
149,25/11/1928,"Bristolville, Ohio",National Air Transport,NaN,Douglas M-4,1,1,0,1.00,0,The mail plane crashed in a snow storm.,1928,11,Nov,NaN

In [5]:
!pip install geopy

Requirement already satisfied: geopy in /Users/georgealster/anaconda3/lib/python3.7/site-packages (1.19.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/georgealster/anaconda3/lib/python3.7/site-packages (from geopy) (1.49)

In [6]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here",timeout = None)
crash_lat = []
crash_long = []

i = 0
y = 149
for index,row in df.iterrows():
    try:
        location = geolocator.geocode(row['Location'][i:y])
        lat = location.latitude
        long = location.longitude
        crash_lat.append(lat)
        crash_long.append(long)
    except AttributeError:
        crash_lat.append("error")
        crash_long.append("error")
i =+ 150
y =+ 150
print(crash_lat)
print(crash_long)
# print((location.latitude, location.longitude))

GeocoderQuotaExceeded: HTTP Error 429: Too Many Requests

In [70]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here",timeout = None)
crash_lat = []
crash_long = []    
for index,row in df_test.iterrows():
    try:
        location = geolocator.geocode(row['Location'])
        lat = location.latitude
        long = location.longitude
        crash_lat.append(lat)
        crash_long.append(long)
    except AttributeError:
        crash_lat.append("error")
        crash_long.append("error")
        
    time.sleep(1)

GeocoderQuotaExceeded: HTTP Error 429: Too Many Requests